
@import "./abstract/colors";
@import "./abstract/fonts";
@import "./abstract/variables";
@import "./abstract/keyframes";

@import "./components/navbar";
@import "./components/loader-page";
@import "./components/aside";
@import "./components/footer";


@import "./pages/login-cadastro";
@import "./pages/dashboard";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: 0.2s;
}

body{
    background: $cinza;
    font-family: $font-primaria;
    color: $branco;
    min-height: 100vh;
}

section{
    min-height: 100vh;
}

.container-fluid{
    padding: $default-padding-container;
    
}