.table{
    border-radius: 6px;
    overflow: hidden;
    min-width: 500px;


    thead {

        th{
            
            background: $azul;
            text-align: center;
        }



    }

    tbody tr{
        height: 50px;
    }

    tbody tr td{
        max-width: 300px;
    
        
    }

    th, td {
        text-align: center; /* Centraliza o texto */
        padding: 10px; /* Espaçamento interno opcional */
        vertical-align: middle; /* Alinha verticalmente o conteúdo */
    }

    .table-descricao-container, .table-titulo-container{

        max-height: 50px;
        overflow-y: auto;
        overflow-x: hidden;

    }


    .table-image-container{

       width: 100%;
       height: 100%;

        img{
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 3px;
        }

    }

    .table-acoes{
        height: 100%;
        &-container{

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;
            height: 50px;


            &-icon{
                width: 30px;
                height: 30px;
                background: $cinza;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;

                text-decoration: none;
                color: $branco;

                &:hover{
                    background: $ciano;
                    cursor: pointer;
                }

                &.delete{

                    &:hover{
                        background: $vermelho;
                    }

                }
            }
        }
    }
    
}