$preto: #000000;
$branco: #F8EDED;
$cinza: #0F0F0F;
$roxo: #BF2EF0;
$rosa: #ED3EF7;
$amarelo: #FEECB3;
$ciano: #229799;
$azul: #227B94;
$azul-2: #7695FF;
$ciano: #48CFCB;
$vermelho: #C40C0C;


$gradient-background:linear-gradient(to left top, #0f0f0f, #0f0f0f, #0f0f0f, #0f0f0f, #0f0f0f, #131314, #151619, #17191d, #192027, #192831, #17303a, #123842);
